html
    head 
        meta(charset="UTF-8")
        title= "Paddle Ball"
        link(rel="stylesheet", href="styles.css")
    body 
        div#error= error
        div#oops
            h1#title Oops! Something went wrong. 
            a#homepage-btn(href='/') Return to home.