html
    head 
        meta(charset="UTF-8")
        title= "Paddle Ball"
        link(rel="stylesheet", href="styles.css")
    body 
        div(class=`menu ${mainMenuDisplay}`, id="main-menu")
            h1#title Paddle Ball 
            button.menu-btn#play-btn Play Now 
            button.menu-btn#private-game-btn Private Game 
        div.menu#private-game-menu
            img.back-arrow#private-game-back-arrow(src="img/backarrow.svg", alt="back")
            button.menu-btn#create-private-game-btn Create New 
            button.menu-btn#join-private-game-btn Join Game
        div.menu#create-game-menu 
            img.back-arrow#create-game-back-arrow(src="img/backarrow.svg", alt="back")            
            h2 Choose Game Options 
            label(class="form-label", for="players-num-input") Players
            input(class="form-input", type="number", id="players-num-input", name="players-num-input", value="2", min="2", max="4")
            br
            label(class="form-label", for="abilities-num-input") Abilities
            input(class="form-input", type="number", id="abilities-num-input", name="abilities-num-input", value="1", min="0", max="3")
            br
            label(class="form-label", for="player-speed-input") Player Speed
            input(class="form-input", type="range", id="player-speed-input", name="player-speed-input", value="5", min="0", max="10")
            br
            label(class="form-label", for="player-size-input") Player Size
            input(class="form-input", type="range", id="player-size-input", name="player-size-input", value="5", min="0", max="10")
            br
            label(class="form-label", for="ball-speed-input") Ball Speed
            input(class="form-input", type="range", id="ball-speed-input", name="ball-speed-input", value="5", min="0", max="10")
            br
            label(class="form-label", for="ball-size-input") Ball Size
            input(class="form-input", type="range", id="ball-size-input", name="ball-size-input", value="5", min="0", max="10")
            br
            label(class="form-label", for="ball-spin-input") Ball Spin
            input(class="form-input", type="range", id="ball-spin-input", name="ball-spin-input", value="5", min="0", max="10")
            button.go-btn#create-game-btn Go
        div.menu#join-game-alert
            // alert class
            label(class="form-label", for="game-id-input") Enter 4 Digit Game Code
            br
            input(class="form-input", type="text", id="game-id-input", name="game-id-input", minlength="4", maxlength="4")
            button.go-btn#enter-room-id-btn Go
        div#username-alert(class=`alert ${usernameDisplay}`)
            //this will be alert class             
            label(class="form-label", for="username-input") Enter Username
            br
            input(class="form-input", type="text", id="username-input", name="username-input", minlength="1", maxlength="15")
            button.go-btn#enter-username-btn Go
        div.menu#choose-loadout-menu 
            img.back-arrow#create-game-back-arrow(src="img/backarrow.svg", alt="back")            
            h2 Choose Loadout
            label(class="form-label", for="speed-input") Speed
            input(class="form-input", type="range", id="speed-input", name="speed-input", value="5", min="0", max="10")
            br
            label(class="form-label", for="size-input") Length
            input(class="form-input", type="range", id="length-input", name="length-input", value="5", min="0", max="10")
            br
            label(class="form-label", for="turn-speed-input") Turning Speed
            input(class="form-input", type="range", id="turn-speed-input", name="turn-speed-input", value="5", min="0", max="10")
            button.go-btn#choose-loadout-btn Go
        div.menu#lobby-menu
            h2 Choose Sides
            div#side1 Good Guys 
            div#side0
            div#side2 Bad Guys
            button.go-btn#change-color-btn Change Color 
            button.go-btn#ready-btn Ready
        div#loading-alert
        div#game-container 
            div#score-board
                div.score#player-score 
                    h3.score-title#player-score-title Player
                    p.score-value#player-score-value 0
                div.score#opponent-score 
                    h3.score-title#opponent-score-title Opponent
                    p.score-value#opponent-score-value 0
        script(type="module", src="docEvents.js") 
        script(type="module", src="index.js") 
